 #div1{
    height: 500px;
    width: 850px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 90px;
    background: linear-gradient(to bottom, hsl(180, 87%, 24%) 2%, #000000 65%);} */

body{
    background-color: black;
   
}

.c1{
    align-items: center;
}
.div1{
    
   height: 150px;
   width: 150px;
   background-color:rgb(38, 141, 145);
   border-radius: 50%; 
   text-align: center;
   padding-top: 40px;
   font-weight: bolder;
   color: aliceblue;
   font-size: larger;
   font-family: Geneva, Tahoma, sans-serif;
   margin-top: 90px;
   margin-left: 80px;
   display: inline-block;

   
}